<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404: Page not found</title>
    <link rel="stylesheet" href="css/404.css">
</head>
<body>
<div class="not-found-container">
    <h1>Oops... Something went wrong :(</h1>
    <p>The page you requested could not be found, click <a href="/">Here</a> to return to the homepage.</p>
</div>
</body>
</html>