<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatty | Chatroom</title>
    <link rel="stylesheet" href="css/chatroom.css">
</head>
<body>
    <div class="container">
        <div id="message-users-container">
            <div class="chat-window horizontal">
                <div id="message-board"></div>
                <form action="#" id="message-form"><input type="text" name="message" id="message-box"><input type="submit" value="Send"></form>
            </div>
            <div class="user-info horizontal">
                <input type="button" value="Leave room" id="leave-button">
                <p id="connected-as-text">Connected as <span id="username">Anonymous</span></p>
                <p>Connected users:</p>
                <ul id="user-list"></ul>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/room.js"></script>
</body>
</html>