<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatty</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Chatty</h1>
            <p>Enter a username and a room name to chat away.</p>
            <form action="/chatroom" id="join-form">
                <div class="form-field">
                    <label for="username">Username</label>
                    <input required type="text" name="username" id="username-input" autocomplete="off">
                </div>
                <div class="form-field">
                    <label for="room">Room name</label>
                    <input required type="text" name="room" id="room-input" autocomplete="off">
                </div>
                <input type="submit" value="Join">
            </form>
        </div>
    </div>
</body>
</html>